*.py[cod]
*.swp
*.js*

# Packages
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
*.egg-info

# ?
.cache

# venv
venv

# ipython notebooks
notebooks

# tox
.tox

# docs
_build

# coverage
.coverage
.idea
